:root{
    --fuente: 'Roboto', sans-serif;
    --color-fondo:#ffffff;
    --color-gris:#F5F5F5;
    --color-azul:#2A7AE4;
    --color-fondo-footer:#EAF2FD;
    --color-texto-campo:#A2A2A2;
}

body{
    font-family: var(--fuente);
}