.footer__datos{
    background-color: var(--color-fondo-footer);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 3rem;
}

/* Lista */
.footer__lista > li{
    padding: 0.5rem 0px;
}

/* Formulario*/

.formulario{
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
    width: 34%;
    height: auto;
}

.formulario > input{
    margin-top: 0.5rem;
}

.formulario__titulo{
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.8rem 0px;
}

.formulario__campo{
    background-color: var(--color-fondo);
    border: none;
    font-size: 0.9rem;
    font-weight: 300;
    height: 1.8rem;
    outline: none;
}

.formulario__area{
    border: none;
    font-family: var(--fuente);
    font-size: 0.9rem;
    font-weight: 300;
    height: 5rem;
    margin-top: 0.5rem;
    outline: none;
    resize: none;
}

.formulario__boton{
    background-color: var(--color-azul);
    border: none;
    color: var(--color-fondo);
    height: 2rem;
    width:30%;
}

/* Seccion creditos */

.creditos{
    height: auto;
    text-align: center;
}

.creditos__titulo{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0px;
}


/* Responsive */

@media screen and (min-width:0px) and (max-width:755px){
    .footer__datos{
        flex-direction: column;
        padding: 1rem 1rem;
        align-items: center;
    }

    .formulario{
        width: 100%;
        padding: 0px;
    }

    .formulario__titulo{
        text-align: center;
    }

    .footer__lista{
        margin: 1rem 0;
        text-align: center;
    }

    .formulario__boton{
        width:32%;
    }
}

@media screen and (min-width:756px) and (max-width:1024px){
    .formulario__boton{
        width:45%;
    }
}